<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/home_service</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Nasim1374</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.pool_size">20</property>
        <property name="hbm2ddl.auto">create</property>

        <mapping class="ir.maktab.model.entity.services.MainService"/>
        <mapping class="ir.maktab.model.entity.services.SubService"/>
        <mapping class="ir.maktab.model.entity.users.Customer"/>
        <mapping class="ir.maktab.model.entity.users.Expert"/>
        <mapping class="ir.maktab.model.entity.users.User"/>
        <mapping class="ir.maktab.model.entity.Comment"/>
        <mapping class="ir.maktab.model.entity.Orders"/>
        <mapping class="ir.maktab.model.entity.Offer"/>
    </session-factory>
</hibernate-configuration>
